/* Home.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 95vh;
  background-color: #f0f0f0; /* 背景色 */
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
}

.gameArea {
  /* 画面上半分を占めるようなレイアウト */
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 画面中央に配置 */
  width: 100%;
  max-width: 600px;
  min-height: 350px; /* ある程度の高さを確保 */
  padding: 20px;
}

.questionNumber {
  font-size: 10rem; /* 大きな数字 */
  font-weight: bold;
  color: #5EC06C;
  margin-bottom: 20px;
  line-height: 1; /* 行の高さを詰める */
}

/* 丸のコンテナ */
.circleContainer {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  max-width: 330px;
  height: 50px;
  border: 3px dashed #ccc;
  padding: 3;
  box-sizing: border-box;
}

/* 丸の基本スタイル */
.circle {
  width: 30px; /* 丸のサイズ */
  height: 30px;
  border-radius: 50%;
  margin-right: 2px; /* わずかな隙間 */
  flex-shrink: 0; /* 縮まないようにする */
}

/* 問題の数字に対応する丸の色 */
.initialCircle {
  background-color: #5EC06C; /* オレンジ */
}

/* 正解時に追加される丸の色 */
.addedCircle {
  background-color: #ffffff; /* 緑 */
  border: 2px dashed #ccc;
}

.correctText {
  font-size: 3.5rem;
  color: #5EC06C;
  font-weight: bold;
  margin-bottom: 70px;
}

/* 回答ボタンセクション */
.answerSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3x3のグリッド */
  gap: 15px;
  width: 100%;
  max-width: 600px;
  padding-bottom: 20px;
  min-height: 300px; 
}

.nextButtonContainer {
  width: 100%;
  max-width: 600px; /* 必要に応じて調整 */
  min-height: 300px; /* 適切な高さを設定して固定 */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nextButtonContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answerButton {
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s;
  color: #333;
}

.answerButton:hover:not(:disabled) {
  background-color: #e6e6e6;
}

.answerButton:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
  position: relative;
}

/* 次のボタン/リセットボタン */
.nextButton {
  padding: 15px 30px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
  margin-top: 0; 
}

.nextButton:hover {
  background-color: #005bb5;
}

.gameOverText {
  font-size: 2rem;
  color: #e65c00;
  margin-bottom: 60px;
}

